<!doctype html>
<html>
<head>
    <title>Vecindad Bank</title>
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Vecindad Bank</h1>
        <a href="/" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span></h3>

                <p>
                    <strong>CVU</strong>: <%= wallet.cvu%><br>
                    <strong>Balance</strong>: <%= wallet.balance%>
                </p>

            </div>
        </div>
    </div>
</div>
</body>
</html>
